.App {
  text-align: center;
  background-color: grey;
  min-height: 100vh;
}


.card {
  flex-direction: row;
  align-items: center;
  background-color: lightskyblue;

}

.card img {
  width: 100%;
}

.profile-card {
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.card-img-top {
  width: 50% !important;
  border-radius: 50%;
  border: 5px solid white;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: lightskyblue;
  color: black !important;
  
}

.nav-link {
  color: black;
}

.drink-container {
  align-items: center;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

